<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <div>
            <form th:object="${searchForm}" class="form-inline">
                <div class="form-group mx-sm-1 mb-2">
                    <select th:field="*{major}" class="form-control">
                        <option value="">개설학과</option>
                        <option th:each="major : ${majors}"
                                th:value="${major.name()}"
                                th:text="${major.description}">option
                        </option>
                    </select>
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <select th:field="*{completionType}" class="form-control">
                        <option value="">이수구분</option>
                        <option th:each="completion : ${completions}"
                                th:value="${completion.name()}"
                                th:text="${completion.description}">option
                        </option>
                    </select>
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <input type="text" th:field="*{lectureName}" class="form-control" placeholder="교과목명"/>
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <input type="text" th:field="*{professorName}" class="form-control" placeholder="교수명"/>
                </div>
                <button type="submit" class="btn btn-primary mb-2">검색</button>
            </form>
        </div>
        <div style="width: 100%; overflow-x:scroll;">
            <table class="table table-striped" style="white-space: nowrap; text-align: center">
                <thead>
                <tr>
                    <th>신청</th>
                    <th>학수번호</th>
                    <th>분반</th>
                    <th>개설학과</th>
                    <th>교과목명</th>
                    <th>강의언어</th>
                    <th>학점/이론/실습</th>
                    <th>이수구분</th>
                    <th>학년 (학기)</th>
                    <th>시간표</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lecture : ${lectures}">
                    <td>
                        <a href="#" th:href="'javascript:inputCourse('+${lecture.lectureId}+')'"
                           class="btn btn-danger">신청</a>
                    </td>
                    <td th:text="${lecture.mainInfoDto.courseId}"></td>
                    <td th:text="${lecture.mainInfoDto.courseClass}"></td>
                    <td th:text="${lecture.mainInfoDto.major.description}"></td>
                    <td th:text="${lecture.mainInfoDto.courseTitle}" style="text-align: left"></td>
                    <td th:text="${lecture.subInfoDto.language.description}"></td>
                    <td th:text="|${lecture.mainInfoDto.credit}/${lecture.mainInfoDto.theory}/${lecture.mainInfoDto.lab}|"></td>
                    <td th:text="${lecture.mainInfoDto.completionType.description}"></td>
                    <td th:text="${lecture.mainInfoDto.year}"></td>
                    <td th:text="|${lecture.lectureTimeDto.day} ${lecture.lectureTimeDto.startTime}-${lecture.lectureTimeDto.endTime}(${lecture.professorName}/${lecture.subInfoDto.room})|"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="width: 100%; overflow-x:scroll;">
            <table class="table table-striped" style="white-space: nowrap; text-align: center">
                <thead>
                <tr>
                    <th>삭제</th>
                    <th>학수번호</th>
                    <th>분반</th>
                    <th>개설학과</th>
                    <th>교과목명</th>
                    <th>강의언어</th>
                    <th>학점/이론/실습</th>
                    <th>이수구분</th>
                    <th>학년 (학기)</th>
                    <th>시간표</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course : ${courseList}">
                    <td>
                        <a href="#" th:href="'javascript:deleteCourse('+${course.courseId}+')'"
                           class="btn btn-danger">삭제</a>
                    </td>
                    <td th:text="${course.lectureInfoDto.mainInfoDto.courseId}"></td>
                    <td th:text="${course.lectureInfoDto.mainInfoDto.courseClass}"></td>
                    <td th:text="${course.lectureInfoDto.mainInfoDto.major.description}"></td>
                    <td th:text="${course.lectureInfoDto.mainInfoDto.courseTitle}" style="text-align: left"></td>
                    <td th:text="${course.lectureInfoDto.subInfoDto.language.description}"></td>
                    <td th:text="|${course.lectureInfoDto.mainInfoDto.credit}/${course.lectureInfoDto.mainInfoDto.theory}/${course.lectureInfoDto.mainInfoDto.lab}|"></td>
                    <td th:text="${course.lectureInfoDto.mainInfoDto.completionType.description}"></td>
                    <td th:text="${course.lectureInfoDto.mainInfoDto.year}"></td>
                    <td th:text="|${course.lectureInfoDto.lectureTimeDto.day} ${course.lectureInfoDto.lectureTimeDto.startTime}-${course.lectureInfoDto.lectureTimeDto.endTime}(${course.lectureInfoDto.professorName}/${course.lectureInfoDto.subInfoDto.room})|"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
<script>
    function inputCourse(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/course/" + id + "/input");
        document.body.appendChild(form);
        form.submit();
    }

    function deleteCourse(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/course/" + id + "/delete");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>