<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form role="form" action="/lectures/new" th:object="${lectureForm}" method="post">
        <div class="form-group">
            <label th:for="openYear">개설년도</label>
            <input type="text" th:field="*{openYear}" class="form-control" placeholder="개설년도를 입력하세요" autocomplete="off" >
        </div>
        <div class="form-group">
            <label th:for="semester">개설학기</label>
            <input type="text" th:field="*{semester}" class="form-control" placeholder="개설학기를 입력하세요" autocomplete="off" >
        </div>
<!--       major-->
        <div class="form-group">
            <label th:for="courseId">학수번호</label>
            <input type="text" th:field="*{courseId}" class="form-control" placeholder="학수번호를 입력하세요" autocomplete="off" >
        </div>
        <div class="form-group">
            <label th:for="courseClass">분반</label>
            <input type="text" th:field="*{courseClass}" class="form-control" placeholder="분반을 입력하세요" autocomplete="off" >
        </div>
        <div class="form-group">
            <label th:for="courseTitle">교과목명</label>
            <input type="text" th:field="*{courseTitle}" class="form-control" placeholder="교과목명을 입력하세요" autocomplete="off" >
        </div>
<!--        language-->
<!--        completionType-->
        <div class="form-group">
            <label th:for="credit">학점</label>
            <input type="text" th:field="*{credit}" class="form-control" placeholder="학점을 입력하세요" autocomplete="off" >
        </div>
        <div class="form-group">
            <label th:for="theory">이론</label>
            <input type="text" th:field="*{theory}" class="form-control" placeholder="이론을 입력하세요" autocomplete="off" >
        </div>
        <div class="form-group">
            <label th:for="lab">실습</label>
            <input type="text" th:field="*{lab}" class="form-control" placeholder="실습을 입력하세요" autocomplete="off" >
        </div>
        <div class="form-group">
            <label th:for="year">학년</label>
            <input type="text" th:field="*{year}" class="form-control" placeholder="학년을 입력하세요" autocomplete="off" >
        </div>
        <div class="form-group">
            <label th:for="room">강의실</label>
            <input type="text" th:field="*{room}" class="form-control" placeholder="강의실을 입력하세요" autocomplete="off" >
        </div>
        <div class="form-group">
            <label th:for="day">요일</label>
            <input type="text" th:field="*{day}" class="form-control" placeholder="강의요일을 입력하세요" autocomplete="off" >
        </div>
        <div class="form-group">
            <label th:for="startTime">강의시작시간</label>
            <input type="text" th:field="*{startTime}" class="form-control" placeholder="강의시작시간을 입력하세요" autocomplete="off" >
        </div>
        <div class="form-group">
            <label th:for="endTime">강의종료시간</label>
            <input type="text" th:field="*{endTime}" class="form-control" placeholder="강의종료시간을 입력하세요" autocomplete="off" >
        </div>
        <div class="form-group">
            <label th:for="midExamRate">중간고사비율</label>
            <input type="text" th:field="*{midExamRate}" class="form-control" placeholder="중간고사비율을 입력하세요" autocomplete="off" >
        </div>
        <div class="form-group">
            <label th:for="finalExamRate">기말고사비율</label>
            <input type="text" th:field="*{finalExamRate}" class="form-control" placeholder="기말고사비율을 입력하세요" autocomplete="off" >
        </div>
        <div class="form-group">
            <label th:for="taskRate">과제비율</label>
            <input type="text" th:field="*{taskRate}" class="form-control" placeholder="과제비율을 입력하세요" autocomplete="off" >
        </div>
        <div class="form-group">
            <label th:for="attendanceRate">출석비율</label>
            <input type="text" th:field="*{attendanceRate}" class="form-control" placeholder="출석비율을 입력하세요" autocomplete="off" >
        </div>
        <div class="form-group">
            <label th:for="count">수강인원</label>
            <input type="text" th:field="*{count}" class="form-control" placeholder="수강인원을 입력하세요" autocomplete="off" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>